@import url('common.css');


nav {
    display: flex;
    align-items: center;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    padding: 2em;
    background-color: #f0f0f0;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.section {
    margin-bottom: 2em;
}

h3 {
    color: #333;
    margin-bottom: 1em;
    text-align: center;
}

h4 {
    color: #666;
    margin-bottom: 0.5em;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

ul li {
    padding: 0.5em;
    background-color: #fff;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    margin-left: auto;
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
}

ul li button:hover {
    background-color: #5b00d1;
}

.page-section {
    display: none;
}